{%- capture direction -%}{% render 'direction' %}{%- endcapture -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
<head>
{% render 'replo-head' %}
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
  {%- endif -%}

  {{ content_for_header }}

  {% liquid
    case shop.permanent_domain
      when 'arccos-dev.myshopify.com'
        render 'theme-scripts--us'
      when 'arccos-golf-uk.myshopify.com'
        render 'theme-scripts--uk'
    endcase
  %}
  
  <!-- Google Consent Mode V2 Consentmo -->
  {% render 'gcm-integration-script' %}

<!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PTVV5CS2');</script>
  <!-- End Google Tag Manager -->

  {%- render 'geolizr-discount-redirect' -%}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button_background }}">
  {% render 'canonical-tags' %}
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {% # theme-check-disable RemoteAsset %}
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">
  {% # theme-check-enable RemoteAsset %}

  <title>
    {{- page_title -}}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
    {%- if request.page_type == 'password' -%}
      {{- shop.name -}}
    {%- else -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    {%- endif -%}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- liquid
    render 'social-meta-tags'

    render 'css-variables'
    echo 'theme.css' | asset_url | stylesheet_tag: preload: true

    if direction == 'rtl'
      echo 'rtl.css' | asset_url | stylesheet_tag: preload: true
    endif
  -%}
  {{ 'video-modal.css' | asset_url | stylesheet_tag }}
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}


  <link rel="stylesheet" href="{{ 'apps.css' | asset_url }}" media="print" fetchpriority="low" onload="this.media='all'">


  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'analytics-events.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'video-modal.js' | asset_url }}" defer="defer"></script>

  {%- if settings.enable_tab_attention -%}
    <script src="{{ 'tab-attention.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- render 'js-variables' -%}


  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js" defer></script>


{% comment %}ttesting slikc slider{% endcomment %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}{% if request.design_mode %} shopify-design-mode{% endif %}" data-rounded-button="{{ settings.rounded_button }}" data-rounded-input="{{ settings.rounded_input }}" data-rounded-block="{{ settings.rounded_block }}" data-rounded-card="{{ settings.rounded_card }}" data-button-hover="{{ settings.buttons_hover }}"{% if settings.enable_lazy_image %} data-lazy-image{% endif %} data-title-animation data-page-rendering>
  <a class="sr-only skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- liquid
    if settings.enable_page_transition
      render 'loading-bar'
    endif

    render 'mouse-cursor'

    sections 'header-group'
    sections 'overlay-group'
  -%}

  <div class="page-container" id="PageContainer">
    <main class="main-content relative" id="MainContent" role="main">
      {{ content_for_layout }}
      {%- case template.suffix -%}
        {%- when 'locator' -%}
          <script src="{{ 'app_course_locator.bundle.js' | asset_url }}" defer></script>

      {%- endcase -%}
    </main>

    <footer-group class="footer-group block w-full">
      {%- sections 'footer-group' -%}
    </footer-group>
  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
  </ul>

  {%- render 'video-modal' -%}

  {%- if request.design_mode == false and settings.preload_links -%}
    <script src="{{ 'instant-page.js' | asset_url }}" type="module" fetchpriority="low" defer="defer"></script>
  {%- endif -%}

  {% if shop.permanent_domain == 'arccos-golf-uk.myshopify.com' %}
    <!--START audiohook pixel-->
    {% # theme-check-disable-next-line %}
    <img src="https://listen.audiohook.com/0f0dc7b4-8e82-4f57-b73d-502905e203b4/pixel.png" style="display: none;">
    <!--END audiohook pixel-->
  {% endif %}
</body>
</html>
